@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(10% 0.034 265);
  --color-base-200: oklch(20% 0.034 265);
  --color-base-300: oklch(30% 0.034 265);
  --color-base-content: oklch(84.153% 0.007 265.754);
  --color-primary: oklch(60% 0.262 276.966);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(60% 0.35 300);
  --color-secondary-content: oklch(97% 0.014 308.299);
  --color-accent: oklch(72.36% 0.176 350.048);
  --color-accent-content: oklch(14.472% 0.035 350.048);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(70% 0.15 240);
  --color-info-content: oklch(15% 0.1 20);
  --color-success: oklch(70% 0.15 160);
  --color-success-content: oklch(15% 0.1 160);
  --color-warning: oklch(70% 0.15 80);
  --color-warning-content: oklch(15% 0.1 80);
  --color-error: oklch(70% 0.2 0);
  --color-error-content: oklch(15% 0.1 0);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.015 265);
  --color-base-300: oklch(93% 0.015 265);
  --color-base-content: oklch(41.886% 0.053 255.824);
  --color-primary: oklch(60% 0.262 276.966);
  --color-primary-content: oklch(91.372% 0.051 257.57);
  --color-secondary: oklch(60% 0.35 300);
  --color-secondary-content: oklch(88.51% 0.032 282.339);
  --color-accent: oklch(59.939% 0.191 335.171);
  --color-accent-content: oklch(11.988% 0.038 335.171);
  --color-neutral: oklch(19.616% 0.063 257.651);
  --color-neutral-content: oklch(83.923% 0.012 257.651);
  --color-info: oklch(70% 0.15 240);
  --color-info-content: oklch(15% 0.1 20);
  --color-success: oklch(70% 0.2 160);
  --color-success-content: oklch(15% 0.1 160);
  --color-warning: oklch(70% 0.2 80);
  --color-warning-content: oklch(15% 0.1 80);
  --color-error: oklch(70% 0.2 0);
  --color-error-content: oklch(15% 0.1 0);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme {
  --color-unique: #af5f1c;
  --color-magic: #8181f2;
  --color-rare: #fefe76;
  --color-fractured: #a29162;
  --color-crafted: #b4b4ff;
  --color-corrupted: #d20000;
  --color-mutated: rgb(205, 34, 133);

  --color-health: var(--color-rose-500);
  --color-mana: var(--color-blue-400);
  --color-energy-shield: var(--color-cyan-200);
  --color-lightning: var(--color-yellow-300);
  --color-fire: var(--color-orange-400);
  --color-cold: var(--color-blue-400);
  --color-chaos: var(--color-fuchsia-500);

  --color-strength: var(--color-rose-500);
  --color-dexterity: var(--color-lime-400);
  --color-intelligence: var(--color-blue-400);

  --color-highlight: light-dark(oklch(100% 0 0), oklch(45% 0.034 265.754));
  --color-highlight-content: light-dark(oklch(0% 0 0), oklch(100% 0 0));
  --color-strength: light-dark(var(--color-rose-600), var(--color-rose-500));
  --color-dexterity: light-dark(var(--color-lime-600), var(--color-lime-400));
  --color-intelligence: light-dark(
    var(--color-blue-600),
    var(--color-blue-400)
  );

  --color-health: light-dark(var(--color-rose-600), var(--color-rose-500));
  --color-mana: light-dark(var(--color-blue-500), var(--color-blue-400));
  --color-energy-shield: light-dark(
    var(--color-cyan-500),
    var(--color-cyan-200)
  );
  --color-lightning: light-dark(
    var(--color-amber-500),
    var(--color-yellow-300)
  );
  --color-fire: light-dark(var(--color-orange-700), var(--color-orange-400));
  --color-cold: light-dark(var(--color-blue-500), var(--color-blue-400));
  --color-chaos: light-dark(var(--color-fuchsia-600), var(--color-fuchsia-500));
}

@utility bborder {
  @apply border-2;
  @apply border-base-content/20;
}
@utility bborder-b {
  @apply border-b-2;
  @apply border-base-content/20;
}
@utility bborder-t {
  @apply border-t-2;
  @apply border-base-content/20;
}

@utility bg-card {
  @apply bg-gradient-to-t;
  @apply from-base-200;
  @apply to-base-300;
  @apply border-highlight;
  @apply shadow-xl;
}

@utility bg-card-highlight {
  @apply bg-gradient-to-t;
  @apply from-base-300;
  @apply to-highlight;
  @apply border-highlight;
  @apply shadow-xl;
}

@utility input {
  @apply border-2 focus:outline-none;
}

@utility select {
  @apply border-2 focus:outline-none;
}

html {
  scrollbar-gutter: stable;
  padding-left: calc(100vw - 100%);
}

#root {
  font-family: "Roboto", sans-serif;
}

.bg-discord {
  background-color: #5865f2;
}
.bg-twitch {
  background-color: #9146ff;
}

#marquee:hover span {
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bg-silver-metallic {
  background: linear-gradient(
    60deg,
    #e7e7e7 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #e7e7e7 95%
  );
}

.bg-gold-metallic {
  background: linear-gradient(
    60deg,
    #edaf10 5%,
    #f0e68c 10%,
    #daa520 30%,
    #ffd700 50%,
    #daa520 70%,
    #f0e68c 80%,
    #edaf10 95%
  );
}

.bg-bronze-metallic {
  background: linear-gradient(
    60deg,
    #e79038 5%,
    #e6b899 10%,
    #b87333 30%,
    #c88f6a 50%,
    #b87333 70%,
    #e6b899 80%,
    #e79038 95%
  );
}

/* POB stuff */

.inventory {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 4rem));
  grid-template-areas:
    "Weapon  Weapon .       Helm       Helm       .      Offhand Offhand"
    "Weapon  Weapon .       Helm       Helm       .      Offhand Offhand"
    "Weapon  Weapon .       BodyArmour BodyArmour Amulet Offhand Offhand"
    "Weapon  Weapon RingL   BodyArmour BodyArmour RingR  Offhand Offhand"
    ".       Gloves Gloves  BodyArmour BodyArmour Boots  Boots   ."
    ".       Gloves Gloves  Belt       Belt       Boots  Boots   ."
    "Trinket flasks flasks  flasks     flasks     flasks flasks  ."
    ".       flasks flasks  flasks     flasks     flasks flasks  .";
}

.weapon1 {
  grid-area: Weapon;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 2;
  height: 100%;
  width: 100%;
  /* Remove fixed aspect-ratio to allow dynamic sizing */
}

.helmet {
  grid-area: Helm;
  aspect-ratio: 1;
}

.amulet {
  grid-area: Amulet;
  aspect-ratio: 1;
}

.weapon2 {
  grid-area: Offhand;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* Remove fixed aspect-ratio to allow dynamic sizing */
}

.ring1 {
  grid-area: RingL;
  aspect-ratio: 1;
}

.bodyarmour {
  grid-area: BodyArmour;
  aspect-ratio: 3/2;
  height: 100%;
  width: 100%;
}

.ring2 {
  grid-area: RingR;
  aspect-ratio: 1;
}

.gloves {
  grid-area: Gloves;
  aspect-ratio: 1;
}

.belt {
  grid-area: Belt;
  aspect-ratio: 2;
}

.boots {
  grid-area: Boots;
  aspect-ratio: 1;
}

.flasks {
  grid-area: flasks;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(5, minmax(0, 4rem));
  grid-gap: 0.5rem;
  grid-template-areas: "Flask0 Flask1 Flask2 Flask3 Flask4";
}

.flask1 {
  grid-area: Flask0;
  aspect-ratio: 0.5;
}

.flask2 {
  grid-area: Flask1;
  aspect-ratio: 0.5;
}

.flask3 {
  grid-area: Flask2;
  aspect-ratio: 0.5;
}

.flask4 {
  grid-area: Flask3;
  aspect-ratio: 0.5;
}

.flask5 {
  grid-area: Flask4;
  aspect-ratio: 0.5;
}

.gem-first:before {
  height: 0.75rem;
  transform: scaleY(-1) translateY(-0.69rem);
}
.gem-first:before,
.gem-last:before,
.gem-middle:before {
  content: "\a0";
  width: 0.5rem;
  display: inline-block;
  margin-left: 0.5rem;
  background: conic-gradient(
      from 90deg at 1px 1px,
      transparent 90deg,
      currentColor 0
    )
    0 0.69rem;
}
.gem-last:before {
  height: 0.75rem;
}

.tooltip-rose {
  --tt-bg: var(--color-rose-400);
  > .tooltip-content,
  &[data-tip]:before {
    color: var(--color-rose-950);
  }
}
.tooltip-lime {
  --tt-bg: var(--color-lime-400);
  > .tooltip-content,
  &[data-tip]:before {
    color: var(--color-lime-950);
  }
}
.tooltip-blue {
  --tt-bg: var(--color-blue-400);
  > .tooltip-content,
  &[data-tip]:before {
    color: var(--color-blue-950);
  }
}
.tooltip-white {
  --tt-bg: white;
  > .tooltip-content,
  &[data-tip]:before {
    color: black;
  }
}

.tooltip-unique {
  --tt-bg: var(--color-unique);
  > .tooltip-content,
  &[data-tip]:before {
    color: black;
  }
}
.tooltip-magic {
  --tt-bg: var(--color-magic);
  > .tooltip-content,
  &[data-tip]:before {
    color: black;
  }
}
.tooltip-rare {
  --tt-bg: var(--color-rare);
  > .tooltip-content,
  &[data-tip]:before {
    color: black;
  }
}

.embla {
  /* max-width: 70rem; */
  margin: auto;
  --slide-spacing: 0px;
  --slide-spacing-sm: 5px;
  --slide-spacing-md: 5px;
  --slide-spacing-lg: 5px;
  --slide-size: 100%;
  --slide-size-lg: calc(100% / 4);
  --slide-size-md: calc(100% / 3);
  --slide-size-sm: calc(100% / 2);
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
@media (min-width: 750px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}
@media (min-width: 1200px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}
.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}
@media (min-width: 500px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}
@media (min-width: 750px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-md);
    padding-left: var(--slide-spacing-md);
  }
}
@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

.passiveTree circle[active] {
  stroke: var(--color-info);
  fill: var(--color-info);
  r: 60;
  stroke-width: 100;
  stroke-opacity: 0;
}
.passiveTree circle:hover {
  fill: red;
  r: 100;
  cursor: pointer;
}

.passiveTree path[active] {
  stroke: var(--color-info);
  stroke-width: 50;
}

.passiveTree line[active] {
  stroke: var(--color-info);
  stroke-width: 50;
}

.passiveTree .mastery {
  fill: none;
}

.passiveTree .ascendancy {
  fill: none;
  stroke: none;
}

.passiveTree .isolated {
  fill: none;
}

.passiveTree #connections {
  stroke: var(--color-highlight);
  stroke-width: 30;
  fill: none;
}

.passiveTree #nodes {
  fill: var(--color-highlight);
  r: 70;
}
